.ss-bold {
  font-weight: bold;
  font-size: 120%;
}

.product-container {
  font-size: 18px;
  text-align: center;
  line-height: 3;
  .product-container--headline {
    display: block;
    .product-container--title {
      display: inline-block;
      @extend .ss-bold;
    }
  }
  .product-container--price {
    display: block;
    span {
      display: inline-block;
    }
  }
  .product-container--hightlight {
    color: #fff;
    display: inline-block;
    padding: 5px;
    background-color: red;
  }
  .product-container--description {
    display: block;
    .product-container--description-pr {
      @extend .ss-bold;
    }
    .product-container--description-wall {
      @extend .ss-bold;
    }
  }
  .product-container--comment {
    display: block;
    span {
      @extend .ss-bold;
    }
  }
  .product-container--description-after {
    text-align: justify;
    line-height: 1.6;
    display: block;
  }
  .product-container--id {
    display: block;
    span {
      @extend .ss-bold;
    }
  }
  .product-container--checktext {
    font-size: 80%;
  }
  .product-container--checkbtn {
    font-size: 140%;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 80%;
    box-shadow: none;
    border-radius: 8px;
    background-color: red;
    color: #fff;
  }
}

.productnav {
  list-style: none;
  display: block;
  padding: 0;
  li {
    display: inline-block;
    a {
      display: block;
      padding: 10px;
      color: #fff;
      background-color: red;
      border-radius: 8px;
    }
    &:hover {
      a {
        background-color: orange;
      }
    }
  }
}
