
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=091292e16691d03bda1ff85acc6fe249
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress