.ss-bold, .product-container .product-container--headline .product-container--title, .product-container .product-container--description .product-container--description-pr, .product-container .product-container--description .product-container--description-wall, .product-container .product-container--comment span, .product-container .product-container--id span {
  font-weight: bold;
  font-size: 120%;
}

.product-container {
  font-size: 16px;
  text-align: center;
  line-height: 3;
}

.product-container .product-container--headline {
  display: block;
}

.product-container .product-container--headline .product-container--title {
  display: inline-block;
}

.product-container .product-container--headline .product-container--title a {
  text-decoration: none;
  border-bottom: 0 !important;
}

.product-container .product-container--price {
  display: block;
}

.product-container .product-container--price span {
  display: inline-block;
}

.product-container .product-container--hightlight {
  color: #fff;
  display: inline-block;
  padding: 5px;
  background-color: red;
}

.product-container .product-container--description {
  display: block;
}

.product-container .product-container--comment {
  display: block;
}

.product-container .product-container--description-after {
  text-align: justify;
  line-height: 1.6;
  display: block;
}

.product-container .product-container--id {
  display: block;
}

.product-container .product-container--checktext {
  font-size: 80%;
}

.product-container .product-container--checkbtn {
  font-size: 140%;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 80%;
  box-shadow: none;
  border-radius: 8px;
  background-color: red;
  color: #fff;
}

.productnav {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  padding: 0;
}

.productnav li {
  display: inline-block;
}

.productnav li a {
  display: block;
  padding: 10px;
  margin: 0 5px 10px;
  color: #fff;
  background-color: red;
  border-radius: 8px;
}

.productnav li a a {
  background-color: orange;
}

.productnav li .productnav--childnav {
  display: inline-block;
}

.productlist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}

.productlist-container article {
  border: 1px solid black;
  width: 24%;
  padding: 10px 0;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  display: block;
}

.productlist-container article .product-container--title a {
  text-decoration: none;
  border-bottom: 0 !important;
}

.productlist-container article .product-container--price,
.productlist-container article .product-container--count {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.productlist-container article .product-container--price {
  font-size: 140%;
}

.productlist-container article .product-container--count {
  font-size: 80%;
}

.productlist-container article .product-container--buy {
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 90%;
  width: 80%;
  color: #fff;
  background-color: red;
}

.productlist-container article .product-container--buy:hover {
  background-color: orangered;
}

.check-status {
  line-height: 1.2;
}

.check-status .product-descr {
  margin-bottom: 16px;
}

/*# sourceMappingURL=maps/special-shop-main.css.map */
